body, h1, h2, h3 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --light-blue: rgb(231, 246, 248);
    --blue-green: rgb(164, 204, 211);
    --dark-blue: rgb(47, 57, 88);
    --white: rgb(243, 242, 242);
    --shadow: rgba(2, 38, 87, 0.253) 0px 1px 4px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --spacing-xxl: 80px;
    --border-radius: 8px;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 300;
    font-size: small;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: var(--spacing-sm);
}

.header {
    margin: 0px;
    padding: var(--spacing-md);
    display: flex;
    justify-content: center;
    background-color: var(--blue-green);
    box-shadow: var(--shadow);
}

.body {
    padding: var(--spacing-md) var(--spacing-xxl);
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}

.CVInputOutput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
}